{"openapi":"3.0.0","x-readme":{"explorer-enabled":false,"proxy-enabled":true},"paths":{"/stores/{storeUrl}/settings":{"get":{"operationId":"StoresController_getStoreSettings","summary":"","description":"Get the theme for a given store","parameters":[{"name":"storeUrl","required":true,"in":"path","schema":{"type":"string"}},{"name":"themeId","required":false,"in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"Successfully retrieved store theme","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StoreSettingDto"}}}}},"tags":["Prive Widget API"]}},"/stores/{storeUrl}/products/{productId}/new":{"get":{"operationId":"StoresController_getDataNew","summary":"","description":"Get the product information for a given productId","parameters":[{"name":"storeUrl","required":true,"in":"path","schema":{"type":"string"}},{"name":"productId","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":"Successfully retrieved product information","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DetailsDto"}}}}},"tags":["Prive Widget API"]}},"/stores/{storeUrl}/shopperPortalSettings":{"get":{"operationId":"StoresController_getShopperPortalSettings","summary":"","description":"Get the shopper portal settings of the store","parameters":[{"name":"storeUrl","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":"Successfully retrieved shopper portal settings","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ShopperPortalSettingsDto"}}}}},"tags":["Prive Widget API"]}}},"info":{"title":"Prive Widget Documentation","description":"Prive Widget Documentation","version":"1.3","contact":{}},"tags":[],"servers":[{"url":"https://subs.api.tryprive.com"}],"components":{"schemas":{"TextStyleDto":{"type":"object","properties":{"color":{"type":"string"},"fontSize":{"type":"string"},"fontWeight":{"type":"string"}},"required":["color","fontSize","fontWeight"]},"StylingDto":{"type":"object","properties":{"purchaseOptionsStyle":{"$ref":"#/components/schemas/TextStyleDto"},"deliveryEveryStyle":{"description":"custom CSS for the delivery frequency options","allOf":[{"$ref":"#/components/schemas/TextStyleDto"}]},"quantityStyle":{"description":"Style for the quantity selector","allOf":[{"$ref":"#/components/schemas/TextStyleDto"}]},"selectedOptionsStyle":{"description":"Styles for the text area","allOf":[{"$ref":"#/components/schemas/TextStyleDto"}]},"accentColor":{"type":"string","description":"Radio button colors"},"bgColor":{"type":"string","description":"The background color for the widget elements"},"bgColorOnSelection":{"type":"string","description":"Color for the product variant selection box"},"borders":{"type":"object","description":"The border properties for the widget elements"}},"required":["purchaseOptionsStyle","deliveryEveryStyle","quantityStyle","selectedOptionsStyle","accentColor","bgColor","bgColorOnSelection","borders"]},"RankDto":{"type":"object","properties":{"prepay":{"type":"number"},"onetime":{"type":"number"},"subscribe":{"type":"number"}},"required":["prepay","onetime","subscribe"]},"WidgetSettingDto":{"type":"object","properties":{"elements":{"type":"object","description":"The customized css selector for elements"},"customCss":{"type":"string","description":"The customized css styling for elements"},"onetimeFirst":{"type":"boolean","description":"Whether the One-Time purchase should show up first, relative to the other offer options position"},"onetimeCopy":{"type":"string","description":"The text for the One-Time Purchase option title"},"subscribeCopy":{"type":"string","description":"The text for the Subscription Offer option title"},"prepaidCopy":{"type":"string","description":"The text for the Prepaid Offer option title"},"subOptionCopy":{"type":"string"},"styling":{"description":"Styling for the widget","allOf":[{"$ref":"#/components/schemas/StylingDto"}]},"moneyFormatWithCurrency":{"type":"string"},"rank":{"description":"Order for the subscription offer options","allOf":[{"$ref":"#/components/schemas/RankDto"}]}},"required":["elements","customCss","onetimeFirst","onetimeCopy","subscribeCopy","prepaidCopy","subOptionCopy","styling","moneyFormatWithCurrency","rank"]},"StoreSettingDto":{"type":"object","properties":{"currency":{"type":"string","description":"The currency used for the store"},"money_format":{"type":"string","description":"The price format"},"multilocation":{"type":"boolean","description":"You can set up multiple locations in your Shopify store so that you can track inventory and fulfill orders at your locations."},"widget_settings":{"description":"The Prive widget setting","allOf":[{"$ref":"#/components/schemas/WidgetSettingDto"}]}},"required":["currency","money_format","multilocation","widget_settings"]},"Countries":{"type":"object","properties":{"all":{"type":"boolean"}},"required":["all"]},"Requirements":{"type":"object","properties":{"type":{"type":"string"},"amount":{"type":"number"}},"required":["type","amount"]},"ShippingDiscount":{"type":"object","properties":{"active":{"type":"boolean"},"countries":{"$ref":"#/components/schemas/Countries"},"requirements":{"$ref":"#/components/schemas/Requirements"}},"required":["active","countries","requirements"]},"SellingPlanDto":{"type":"object","properties":{"providerProductId":{"type":"string","description":"Shopify Product ID"},"specialDiscountActive":{"type":"boolean","description":"Whether the subscription has any discount available"},"discountType":{"type":"string","enum":["ORDER","SHIPPING","QUANTITY","NONE"],"description":"Description: By Quantity, By Orders or Free Shipping"},"shippingDiscount":{"description":"Discount applied to the shipping (free shipping)","allOf":[{"$ref":"#/components/schemas/ShippingDiscount"}]},"specialDiscountType":{"type":"string","enum":["ORDER","SHIPPING","QUANTITY","NONE"],"description":"Type of the special discount"},"sellingPlanGroupId":{"type":"string","description":"The shopify selling plan group ID"},"sellingPlanId":{"type":"string","description":"The shopify selling plan ID"},"discount":{"type":"number"},"discountModifier":{"type":"string","description":"The unit of the discount","enum":["PERCENTAGE","FIXED_AMOUNT"]},"optionOrder":{"type":"number","description":"The order of the selling plan relative to the other selling plans (in which position of the dropdown it should show up)"},"deliveryCadenceCount":{"type":"number","description":"Delivery frequency (if it's delivered every 2 weeks, then it's 2)."},"deliveryCadenceUnit":{"type":"string","description":"Delivery frequency unit (if it's every 2 months, then it's \"MONTH\")","enum":["DAY","WEEK","MONTH","YEAR"]},"billingCadenceCount":{"type":"number","description":"Billing frequency (if it's every 2 weeks, then it's 2)"},"billingCadenceUnit":{"type":"string","description":"Billing frequency unit (if it's every 2 weeks, then it's \"WEEK\")","enum":["DAY","WEEK","MONTH","YEAR"]},"type":{"type":"string","enum":["ONETIME_AND_SUBSCRIPTION_AND_PREPAID","ONETIME_AND_SUBSCRIPTION","PREPAID_SUBSCRIPTION_ONLY","SUBSCRIPTION_ONLY"]},"name":{"type":"string","description":"The default name of the selling plan, displayed in the widget subscription offer options dropdown."},"isDefault":{"type":"boolean","description":"Indicates whether the selling plan should be selected by default"},"discountCode":{"type":"string","description":"Discount code available for the selling plan."},"optionType":{"type":"string","enum":["ONETIME_AND_SUBSCRIPTION_AND_PREPAID","ONETIME_AND_SUBSCRIPTION","PREPAID_SUBSCRIPTION_ONLY","SUBSCRIPTION_ONLY"],"description":"Type of the selling plan, Note: use when type is \"ONETIME_AND_SUBSCRIPTION_AND_PREPAID\""},"giftOptions":{"type":"object","description":"Contains the maximum number of deliveries for the gift purchase option"}},"required":["providerProductId","specialDiscountActive","discountType","shippingDiscount","specialDiscountType","sellingPlanGroupId","sellingPlanId","discount","discountModifier","optionOrder","deliveryCadenceCount","deliveryCadenceUnit","billingCadenceCount","billingCadenceUnit","type","name","isDefault","discountCode","optionType","giftOptions"]},"SellingPlanGroupDto":{"type":"object","properties":{"requires_selling_plan":{"type":"boolean","description":"Whether the product has subscription offers available."},"id":{"type":"string"},"type":{"type":"string","enum":["ONETIME_AND_SUBSCRIPTION_AND_PREPAID","ONETIME_AND_SUBSCRIPTION","PREPAID_SUBSCRIPTION_ONLY","SUBSCRIPTION_ONLY"]},"variants":{"description":"Product variants","type":"array","items":{"type":"string"}},"selling_plans":{"description":"Represents how a product can be sold and purchased.","type":"array","items":{"$ref":"#/components/schemas/SellingPlanDto"}}},"required":["requires_selling_plan","id","type","variants","selling_plans"]},"DetailsDto":{"type":"object","properties":{"productId":{"type":"string","description":"Shopify Product ID"},"hasVariantLevel":{"type":"boolean","description":"Whether the product has any variants level configuration available."},"selling_plan_groups":{"description":"Represents a selling method (for example, \"Subscribe and save\" or \"Pre-paid\").","type":"array","items":{"$ref":"#/components/schemas/SellingPlanGroupDto"}}},"required":["productId","hasVariantLevel","selling_plan_groups"]},"PauseLimitSettingsDto":{"type":"object","properties":{"pauseDurationModifier":{"type":"string","enum":["HOUR","DAY","MONTH","WEEK","YEAR"],"description":"The cadence unit for the pause duration"},"pauseDurationCount":{"type":"number","description":"The number of cadence units for the pause duration"},"reactivationDate":{"format":"date-time","type":"string","description":"The date the subscription will be reactivated"}},"required":["pauseDurationModifier","pauseDurationCount"]},"ShopperPortalSettingsDto":{"type":"object","properties":{"skip":{"type":"boolean","description":"Whether the shopper can skip"},"pause":{"type":"boolean","description":"Whether the shopper can pause"},"change_delivery_date":{"type":"boolean","description":"Whether the shopper can change delivery date"},"change_delivery":{"type":"boolean","description":"Whether the shopper can change delivery"},"change_quantity":{"type":"boolean","description":"Whether the shopper can change quantity"},"swap":{"type":"boolean","description":"Whether the shopper can swap"},"add_on":{"type":"boolean","description":"Whether the shopper can add on item"},"gift_delivery":{"type":"boolean","description":"Whether the shopper can create gift delivery"},"pauseLimitSettings":{"description":"The pause limit settings for the store","allOf":[{"$ref":"#/components/schemas/PauseLimitSettingsDto"}]}},"required":["skip","pause","change_delivery_date","change_delivery","change_quantity","swap","add_on","gift_delivery"]}}}}